/target
/fuzz/artifacts
/fuzz/corpus
/fuzz/target
fuzz-*.log
.DS_Store
Cargo.lock
.vscode
.idea
/tmp
/tests/GeneralStateTests
/tests/BlockchainTests
/test-fixtures
/.fuzz_screen.env
/.fuzz_screeen.env
/scripts/__pycache__

# samply profiler output
profile.json.gz
