/target
clif
.vscode
.idea
/.cargo
/.config
/.gitattributes
/.gitmodules
/.zed
/CLAUDE.md
/cliff.toml
/release.toml
/rustfmt.toml
/tmp
/tests/GeneralStateTests
/tests/BlockchainTests
/test-fixtures
/scripts/__pycache__
